.container{
    margin : 50px auto;
}

.form-group{
    padding :10px;
}

.form-group input {
    margin-bottom :10px;
    width : 70%;
}

.btn{
    margin-right: 2px;
    margin-bottom: 20px;
}

.content{
    width: 100%;
    margin : 0 auto;
    margin-top : 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.content:after{
	clear:both;
	content:' ';
	display:block;
}

h3 {
    padding-left :20px;
    margin-bottom: 10px;
}