<div class="container">
  <div class="row">
    <h3>Course Lists</h3>
    <table class="table table-bordered">
      <tr>
        <th>ID.</th>
        <th>Course Name</th>
        <th>Price</th>
        <th>Teacher</th>
      </tr>
      <tr *ngFor="let r of data, let i=index">
        <td>{{r.id}}</td>
        <td>{{r.course_name}}</td>
        <td>IDR {{r.price}}</td>
        <td><label class= "label label-info"> {{r.teacher}}</label></td>
      </tr>
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="content">
      <h3>Input New Course</h3>
      <div class="form-group">
        <div class="col-md-2"> <b>Name</b> </div>
        <div class="col-md-10"> <input type="text" class="form-control" placeholder="Enter Course Name" [(ngModel)]="course"> </div>
      </div>

      <div class="form-group">
        <div class="col-md-2"> <b>Teacher</b> </div>
        <div class="col-md-10"> <input type="text" class="form-control" placeholder="Enter Teacher" [(ngModel)]="teacher"> </div>
      </div> 

      <div class="form-group">
        <div class="col-md-2"> <b>Price</b> </div>
        <div class="col-md-10"> <input type="number" class="form-control" placeholder="Enter Price" [(ngModel)]="price"> </div>
      </div> 
      
      <button class="btn btn-warning pull-right" (click)="reset()">Reset Form </button>
      <button class="btn btn-primary pull-right" (click)="add()">Add</button>
    </div>
  </div>
</div>