<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <tr>
        <th>ID.</th>
        <th>Room Number</th>
        <th>Price</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let r of data, let i=index">
        <td *ngIf="r.status != 1; then temp"></td>
        <ng-template #temp>
          <td>{{r.id}}</td>
          <td>{{r.room_number}}</td>
          <td>{{r.price}}</td>
          <td><label class= "label label-info"> Availabe</label></td>
          <td><button class="btn btn-xs btn-success" (click)="book(i)">Booking</button></td>
        </ng-template>
      </tr>
    </table>
  </div>
</div>