<div class="container">
  <div class="row">
    <button *ngIf="event2" class="btn btn-primary" (click) ="show()"> Add Data Event</button>
    <button *ngIf="event" class="btn btn-success"(click)="show2()"> Hide</button>
  </div>
</div>
<div *ngIf="event" class="container">
  <div class="row">
    <div class="content">
      <h3>Event Master</h3>
       <div class="form-group">
        <div class="col-md-2"> <b>Event Code</b> </div>
        <div class="col-md-10"> <input type="text" class="form-control" placeholder="Enter Code Event" [(ngModel)]="code"> </div>
      </div>

      <div class="form-group">
        <div class="col-md-2"> <b>Event Name</b> </div>
        <div class="col-md-10"> <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="name"> </div>
      </div> 

      <div class="form-group">
        <div class="col-md-2"> <b>Time</b> </div>
        <div class="col-md-10"> <input type="text" class="form-control" placeholder="Senin, 1/Agustus/2017 14:00" [(ngModel)]="time"> </div>
      </div> 

      <div class="form-group">
        <div class="col-md-2"> <b>Location</b> </div>
        <div class="col-md-10"> <input type="text" class="form-control" placeholder="Enter Location" [(ngModel)]="location"> </div>
      </div>

      <div class="form-group">
        <div class="col-md-2"> <b>Price</b> </div>
        <div class="col-md-10"> <input type="text" class="form-control" placeholder="Enter Price" [(ngModel)]="price"> </div>
      </div>

       <div class="form-group">
        <div class="col-md-2"> <b>Total Seat</b> </div>
        <div class="col-md-10"> <input type="text" class="form-control" placeholder="Enter Total Seat" [(ngModel)]="total"> </div>
      </div>
    
      <button class="btn btn-primary pull-right" (click)="add()">Add Event</button>
    </div>
  </div>
</div>