<div class="container">
  <div class="row">
    <h3>Event Lists</h3>
    <table class="table table-bordered">
      <tr>
        <th>ID.</th>
        <th>Event Name</th>
        <th>Time</th>
        <th>Location</th>
        <th>Price</th>
        <th>Total Seat</th>
        <th>Availabe Ticket</th>
        <th>Buy</th>
      </tr>
      <tr *ngFor="let r of api.data">
        <td>{{r.id}}</td>
        <td>{{r.event_name}}</td>
        <td>{{r.event_date_time}}</td>
        <td>{{r.place}}</td>
        <td>{{r.event_price}}</td>
        <td><label class= "label label-success"> {{r.total_seat}}</label></td>
        <td><label class= "label label-info"> {{r.available_ticket}}</label></td>
        <td><button class="btn btn-primary" (click)="show(r.id)"> Buy Ticket </button></td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="ticket" class="container">
  <div class="row">
    <div class="content">
      <h3>Buy a Ticket for Event : {{ detail.event_name}}</h3>
      <div class="form-group">
        <div class="col-md-2"> <b>Name</b> </div>
        <div class="col-md-10"> <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="name"> </div>
      </div>

      <div class="form-group">
        <div class="col-md-2"> <b>Email</b> </div>
        <div class="col-md-10"> <input type="text" class="form-control" placeholder="Enter Email" [(ngModel)]="email"> </div>
      </div> 

      <div class="form-group">
        <div class="col-md-2"> <b>Phone Number</b> </div>
        <div class="col-md-10"> <input type="text" class="form-control" placeholder="Enter Phone Number" [(ngModel)]="phone"> </div>
      </div> 
      
      <button class="btn btn-primary pull-right" (click)=" buy()">Buy Ticket</button>
    </div>
  </div>
</div>